

.App{
    font-family: Arial, Helvetica, sans-seri;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu, .Quiz, .endScreen{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    font-size: 12px;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endScreen {
    color: white;
}

.options button{
     background-color: rgb(0, 96, 128);
     padding: 10px;
     margin:10px 3px;
}

.endScreen button{
    padding: 20px;
}

.menu button{
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.menu, .Quiz{
    color: white;
    
}

.endScreen h4{
    color: brown;
}
.Finishbtn{
    background-color: green;
    padding: 10px 20px;
    font-weight: 500;
}

.prevQuest{
    background-color: rgb(81, 0, 255);
    margin-top: 5px;
    padding: 5px;
}

.nextbtn{
    padding: 5px;
    background-color: green;
}


@media (max-height:768px) {
    .App{
        width: 100%;
        text-align: center;
    }
     .Quiz{
         width: 100%;
     }

}